@model SchoolLevelViewModel
@{ ViewData["Title"] = "Levels"; }
<div class="row">
    <div class="col-md-12">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">Update Level</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" method="post">
                <div class="card-body">
                    <div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="SchoolId" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input type="text" class="form-control" asp-for="Name" data-type="toupper" />
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary" formaction="editdata" value="edit" data-type="confirm">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
