@model SchoolYearViewModel
@{ ViewData["Title"] = "School Years"; }
<div class="row">
    <div class="col-md-12">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">Update new School Year</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" method="post">
                <div class="card-body">
                    <div class="hidden">
                        <input type="hidden" asp-for="Id" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input type="text" class="form-control" asp-for="Name" data-type="toupper"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Start"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" asp-for="Start" data-type="date">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="End"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" asp-for="End" data-type="date">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary" formaction="editdata" value="edit"  onclick="return confirm('Are you sure?');">Update</button>
                    <button type="submit" class="btn btn-danger" formaction="deletedata" value="delete" onclick="return confirm('Are you sure?');">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
