@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@model LoginViewModel
@inject SignInManager<SchoolUser> SignInManager

@{ ViewData["Title"] = "Success Registration";
    Layout = ""; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Schoolozor | Login</title>
    <link rel="icon" type="image/png" href="~/images/schoolozorFavicon.png">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
        <link rel="stylesheet" href="~/lib/ionicons/css/ionicons.css" />

        <link rel="stylesheet" href="~/css/animation.css" />
        <link rel="stylesheet" href="~/css/login.css" />

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/ionicons/css/ionicons.min.css" asp-append-version="true" />

        <link rel="stylesheet" href="~/css/animation.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

    </environment>

</head>
<body id="signin_main" class="authenty signin-main">
    <div class="section-content">
        <div class="wrap">
            <div class="container">
                <div class="">
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6 chalkFont white">
                            <div class="title animated fadeInDown">
                                <h1 class="">SCHOOLOZOR</h1>
                            </div>
                            <div>
                                <h3>Registration Complete</h3>
                            </div>
                            <div>
                                <h3>Please check your email for confirmation.</h3>
                            </div>
                            <hr />
                            <div>
                                <h3>Already confirmed? <a href="/account/login">Login here</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
</body>
</html>